:root {
    color-scheme: dark only;
    --gold-color: #ffd180;
    --blue-color: rgb(63, 81, 181);
    --light-text: rgba(255, 255, 255, 0.87);
    --size-xs: 0.5rem;
    --size-sm: 0.75rem;
    --size-md: 1rem;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: unset;
}

body {
    font-size: 16px;
    background: black;
    color: white;
}

h1 {
    text-align: center;
    color: var(--gold-color);
    font-size: 1.5em;
    font-weight: 800;
}

h2 {
    font-weight: 700;
    color: var(--gold-color);
    font-size: 1.3em;
}

button {
    cursor: pointer;
    color: var(--light-text);
    background-color: var(--blue-color);
    border-radius: 4px;
    line-height: 1.25;
    font-size: inherit;
    padding: var(--size-xs);
    text-align: center;
    transition: box-shadow 0.2s;
    border: none;
}

button:hover,
button:active {
    box-shadow: inset rgb(0, 0, 0, 0.2) 0 0 0 10000px;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 325px;
    background: #222;
    border-radius: var(--size-xs);
    margin: var(--size-sm);
    padding: var(--size-md);
    padding-right: var(--size-xs);
    display: flex;
    flex-direction: column;
    gap: var(--size-md);
    max-height: 90%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.card-section {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}

.card-section a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}

.screeps-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--size-xs) 0;
}

.screeps-logo img {
    width: 310px;
}

.server {
    display: flex;
    align-items: center;
}

.server a {
    flex-grow: 1;
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
    box-sizing: border-box;
}
